.middle-header{
    display: flex;
    background: #2c2c2c;
    min-height: 200px !important;

}

.middle-header h1{
    font-size: 60px;
    font-family: "JetBrains Mono", monospace;
    color: #ffffff;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.movie-card {
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.movie-card img {
    width: 100%;
    border-radius: 10px;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-card p {
    margin-top: 0.5rem;
    font-size: 0.9rem;
}